@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #15142b;
    color: white;
    background-image: linear-gradient(180deg, #372991, #15142b);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-shadow: 3px 3px 0px black;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
}